header {
    width: 100%;
    background-color: var(--cl-white);
    position: relative;
    z-index: 10;
}
.headerWrapper {
    width: 100%;
    background-color: var(--cl-white);
}
.headerWrapper.activeScroll {
    position: fixed;
    top: 0px;
    width: 100%;
    animation: showHeader 0.5s ease;
    box-shadow: var(--box-shadow-top);
    transition: var(--transition);

}
@keyframes showHeader {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}
.headerWrapper > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    min-height: 65px;
}
.headerLeft {
    display: flex;
    align-items: center;
    gap: 50px;
}
.headerLogo {
    width: 60px;
    height: 60px;
}

.headerRight{
    display: flex;
    gap: var(--gap-x);
    position: relative;
    flex: 1;
    justify-content: flex-end;
}
.headerRightInfor {
    display: flex;
    gap: var(--gap-x);
    align-items: center;
    flex-shrink: 0;
}
.headerRightInforItem, .headerRightInforItem > div {
    display: flex;
    gap: var(--gap-sm);
    align-items: center;
}
.headerRightInforItem > a {
    display: flex;
    align-items: center;
    gap: var(--gap-sm);
    font-weight: 500;
}

.headerRightInforItem > div > svg,
.headerRightInforItem > div > span {
    cursor: pointer;
    font-weight: 500;
}
.headerRightInforItem > div:hover, .headerRightInforItem >  a:hover {
    color: var(--cl-primary);
}

.headerRightSearch input {
    background-color: transparent;
    width: 100%;
    height: 100%;
    font-size: var(--fz-normal)
}
.headerRightIconSearch {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
}
.headerRightClearText {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
}
.headerRightClearText svg {
    font-size: var(--fz-large);
    color: var(--cl-text);
}
.headerTopBanner {
    height: 50px;
}
.headerTopBanner img {
    height: 100%;
}
.headerTopContent {
    background-color: var(--cl-blue);
    padding: 0px 15px;
}
.headerTopContent > div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0px;
    gap: 30px;
}
.headerTopContent > div a {
    color: var(--cl-white);
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: var(--fz-base);
}

@media screen and (min-width: 1025px) {
    .headerRightSearch {
        display: flex;
        max-width: 280px;
        width: 100%;
        height: 40px;
        padding: 5px 15px 5px 40px;
        background-color: var(--bg-input);
        border-radius: 100px;
        transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
        position: relative;
    }
    .headerRightSearchOuter {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        position: relative;
    }
    .headerRightSearchActive {
        width: 100%;
        max-width: 100%;
        background-color: var(--cl-white);
    }
    .headerRightSearchActive input::placeholder {
        opacity: 0;
    }
    .headerSearchInput {
        height: 100%;

    }
    .headerRightSearchContent {
        width: 100%;
    }
    .headerRightSearchForm {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 1280px) {
    .headerLeft {
        gap: 20px;
    }
}

@media screen and (max-width: 1024px) {
    .headerWrapper {
        padding: 0px !important;
    }
    .headerRightInfor {
        gap: var(--gap-x)
    }
    
    .headerRightInforItemText {
        display: none;
    }
    .headerIconSearchMobile {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .headerRightInforItem svg, .headerIconSearchMobile svg{
        font-size: var(--fz-large-xl);
    }
    .headerRight {
        justify-content: flex-end;
        flex: 1;
        padding-left: 50px;
    }
}
@media screen and (max-width: 1024px) {
    .headerWrapper {
        min-height: 60px;
        flex-wrap: wrap;
        border-bottom: 1px solid #eee;
    }
    .headerLogo {
        width: 50px;
        height: 50px;
    }
    .headerIconSearchMobile {
        display: flex;
        align-items: center;
        cursor: pointer;
        cursor: pointer;
    }
    .headerIconSearchMobile svg{
        font-size: var(--fz-large-xl)
    }
    .headerRightSearchForm{
        display: flex;
        align-items: center;
        padding: 10px;
    }
    .headerRight {
        flex: 1;
        padding-left: 50px;
        justify-content: flex-end;
    }
    .btnCloseSearch {
        cursor: pointer;
        width: 40px;
        display: flex;
        align-items: center;
    }
    .btnCloseSearch svg {
        font-size: var(--fz-large-xl);
    }
    .headerSearchInput {
        width: 100%;
        height: 40px;
        border-radius: var(--br-radius);
        position: relative;
        padding: 0px 25px 0px 40px;
        background: var(--bg-input)
    }
    .headerSearchInput input {
        width: 100%;
        height: 100%;
    }
    .headerRightIconSearch svg {
        font-size: var(--fz-large-x);
    }
    .headerTopContent > div {
        justify-content: center;
    }
    .headerRightSearchContent {
        width: 100%;
    }
}

