header {
    width: 100%;
    background-color: var(--cl-white);
    position: relative;
    z-index: 10;
}
.headerWrapper {
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.headerLeft {
    display: flex;
    align-items: center;
    gap: 100px;
}
.headerLogo {
    width: 60px;
    height: 60px;
}

.headerRight{
    display: flex;
    gap: var(--gap-x);
    position: relative;
}
.headerRightInfor {
    display: flex;
    gap: var(--gap-x);
    align-items: center;
}
.headerRightInforItem, .headerRightInforItem > div {
    display: flex;
    gap: var(--gap-sm);
    align-items: center;
}
.headerRightInforItem > a {
    display: flex;
    align-items: center;
    gap: var(--gap-sm);
    font-weight: 500;
}

.headerRightInforItem > div > svg,
.headerRightInforItem > div > span {
    cursor: pointer;
    font-weight: 500;
}

.headerRightSearch input {
    background-color: transparent;
    width: 100%;
    height: 100%;
    font-size: var(--fz-normal)
}
.headerRightIconSearch {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}


@media screen and (min-width: 768px) {
    .headerRightSearch {
        display: flex;
        width: 240px;
        height: 40px;
        padding: 5px 35px 5px 15px;
        background-color: var(--bg-input);
        border-radius: 100px;
        transition: var(--transition);
        position: relative;
    }
    .headerRightSearchActive {
        width: 100%;
        background-color: var(--cl-white);
    }
    .headerRightSearchActive input::placeholder {
        opacity: 0;
    }
    
    .headerSearchInput {
        height: 100%;

    }
    .headerRightSearchContent {
        width: 100%;
    }
}
@media screen and (min-width: 1024px) {
    .headerRightSearch {
        position: absolute;
        right: calc(100% + 10px);
        top: 50%;
        transform: translateY(-50%);
    }
    .headerRightSearchActive {
        width: 650px;
    }
}

@media screen and (max-width: 1280px) {
    .headerLeft {
        gap: 20px;
    }
}

@media screen and (max-width: 1023.89px) {
    .headerLeft {
        padding-left: 15px;
    }
    .headerRight {
        padding-right: 15px;;
    }
    .headerWrapper {
        padding: 0px !important;
    }
    .headerRightInfor {
        gap: var(--gap-x)
    }
    .headerIconMenuMobile {
        margin-top: 10px;
        flex-shrink: 0;
        width: 100%;
        background-color: var(--cl-gray);
        border-top: 1px solid var(--cl-gray);
        padding: 0px 15px;
    }
    .headerIconMenuMobileWrapper {
        cursor: pointer;
        background-color: var(--cl-white);
        
        width: 100%;
        display: flex;
        align-items: center;
        height: 40px;
    }
    .headerRightInforItemText {
        display: none;
    }
    .headerRightInforItem svg, .headerIconMenuMobile svg {
        font-size: var(--fz-large-xl);
    }
    .headerRight {
        justify-content: flex-end;
        flex: 1;
        padding-left: 50px;
    }
}
@media screen and (max-width: 767.89px) {
    .headerWrapper {
        min-height: 60px;
        flex-wrap: wrap;
    }
    .headerLogo {
        width: 50px;
        height: 50px;
    }
    .headerIconSearchMobile {
        display: flex;
        align-items: center;
        cursor: pointer;
        cursor: pointer;
    }
    .headerIconSearchMobile svg, .headerIconMenuMobile svg {
        font-size: var(--fz-large-xl)
    }
    .headerSearchPopup {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        padding: 0px 20px;
        height: 60px;
    }
    .headerRight {
        flex: 1;
        padding-left: 50px;
        justify-content: flex-end;
    }
    .headerSearchPopup h3{
        font-weight: 500;
    }
    .btnCloseSearch {
        cursor: pointer;
    }
    .btnCloseSearch svg {
        font-size: var(--fz-large-xl);
    }
    .headerSearchInput {
        width: 100%;
        height: 40px;
        border-radius: var(--br-radius);
        border: 1px solid var(--cl-gray);
        position: relative;
        padding: 0px 40px 0px 15px;
    }
    .headerSearchInput input {
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width: 568px) {
    .headerRightSearchContent {
        width: 100%;
    }
}
