.title {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}
.title h2 {
    font-size: var(--fz-large-xl);
}
.subTitle {
    display: flex;
    align-items: center;
    gap: var(--gap-sm);
    color: var(--cl-secondary);
    font-weight: 600;
}
.titleIcon {
    width: 25px;
    height: 25px;
    background: var(--cl-secondary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titleIcon svg {
    color: var(--cl-white);
    font-size: var(--fz-normal);
}
@media screen and (max-width: 768px) {
    .title h2 {
        font-size: var(--fz-large-x)
    }
    .subTitle {
        font-size: var(--fz-base)
    }
    .subTitle img {
        width: 20px;
    }
}