

.searchResultTopInner {
    height: 100%;
}
.searchResultTopInner h3 {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 15px;
}

.searchResultList {
    background: var(--cl-white);
}
.searchResultTopInner ul li a {
    background: var(--cl-white);
    border-radius: var(--br-radius);
    min-height: 40px;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 5px 15px;
}

.searchResultContentText {
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
    align-items: flex-start;
    flex: 1;
    font-size: var(--fz-base);
}
.searchResultContentText h4 {
    font-weight: 500;
    cursor: pointer;
    line-height: 1.4;
}
.searchResultContentImage {
    border-radius: var(--br-radius);
    overflow: hidden;
    background-color: var(--cl-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchResultContentRedirect {
    display: flex;
    align-items: flex-end;
    height: 100%;
    font-size: var(--fz-base);
}
.searchResultContentTextPrice {
    font-weight: 600;
}
.searchResultContentTextStatus span.inStock {
    color: var(--cl-green)
}
.searchResultContentTextStatus span.outStock {
    color: var(--cl-secondary)
}
.searchResultNotFound {
    text-align: center;
    font-weight: 500;
    background-color: var(--cl-white);
    height: 100%;
}

@media screen and (min-width: 769px) {
    .searchResultWrapper {
        width: calc(100% - 80px);
        box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
        padding: 20px;
        border-radius: var(--br-radius);
        background-color: var(--cl-white);
        max-height: 400px;
        overflow-y: auto;
        margin: 0px auto;
    }

    .searchResult {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        top: calc(100% + 5px);
        transition: var(--transition);
        opacity: 0;
        z-index: -10;
        visibility: hidden;
    }

    .searchResult.active {
        opacity: 1; 
        z-index: 10;
        visibility: visible;
        animation: show 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
@keyframes show {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}

    .searchResultContent {
        display: flex;
        align-items: flex-start;
        gap: 20px;
        padding: 10px 0px;
        border-bottom: 1px solid var(--cl-gray);
        transition: var(--transition);
    }

    .searchResultContentImage {
        width: 70px;
        height: 70px;
    }
    .searchResultTopInner ul{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    .searchResultTopInner ul li a {
        background: var(--bg-input);
        transition: var(--transition);
    }
    .searchResultTopInner ul li a:hover {
        background-color: var(--cl-gray);
    }
}


@media screen and (max-width: 768px) {
    .searchResult {
        width: 100%;
        height: 100%;
        background: var(--cl-white);
    }

    .searchResultWrapper {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        
    }

    .searchResultContent {
        display: grid;
        grid-template-columns: 80px 1fr;
        gap: var(--gap-x);
        padding: 10px;
        border-bottom: 1px solid var(--cl-gray);
    }

    .searchResultContent h4 {
        font-size: var(--fz-base);
    }

    .searchResultContent p {
        margin-right: auto;
        font-size: var(--fz-base);
        font-weight: 500;
        color: var(--cl-red);
    }

    .searchResultContentImage {
        width: 100%;
        height: 100%;
        aspect-ratio: 1/1;
    }

    .searchResultContentImage img {
        width: 80%;
    }

    .searchResultContent h4 {
        font-size: var(--fz-normal);
    }
    .searchResultContent p {
        font-weight: 600;
        font-size: var(--fz-normal);
    }
    .searchResultContentText {
        gap: var(--gap)
    }
    .searchResultTopInner {
        padding: 10px;
        background: var(--bg-input);
    }
    .searchResultTopInner ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}