.checkout {
    padding: var(--pt) 0px;
}

.checkoutWrapper {
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: var(--gap-xl);
}

.checkoutWrapper h3 {
    font-size: var(--fz-large-x);
    height: 40px;
}

.checkoutLeftItem {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    margin-bottom: var(--gap-x);
}

.checkoutLeftItem label {
    font-weight: 500;
}

.checkoutLeftItem span {
    background-color: #0080ff33;
}

.checkoutLeftItem input {
    padding-left: 55px;
}

.checkoutLeftItem input[type="number"] {
    -webkit-appearance: none;
}

.checkoutLeftItem textarea {
    height: 120px;
    border-radius: var(--br-radius);
    padding: 15px;
}

.checkoutLeftItem textarea:focus {
    outline: 2px solid var(--cl-primary)
}

.checkoutLeftItemButton span {
    width: fit-content !important;
}

.checkoutRightContent {
    border-radius: var(--br-radius);
    background-color: var(--cl-white);
    box-shadow: 0px 10px 30px #eee;
    padding: 20px;
}

.cartTotal>h3 {
    font-weight: 600;
    height: 40px;
}

.cartTotalItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
}

.cartTotalItem:nth-child(4) {
    border: 0px;
}

.cartTotalItem:nth-child(4) span {
    font-weight: 600;
    color: var(--cl-primary);
    font-size: var(--fz-large);
}

.cartTotalItem h4 {
    font-weight: 600;
}

.cartTotalButton {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    align-items: center;
}

.cartTotalButton a {
    transition: var(--transition);
    width: 100%;
    text-align: center;
}

.cartTotalButton a:hover {
    color: var(--cl-primary)
}

.coupon {
    width: 100%;
    display: flex;
    padding: 10px 0px;

}

.coupon input {
    width: 70%;
    height: 45px;
    border: 1px solid #eee;
    outline: none;
    border-right: 0px;
    padding: 0px 15px;
    font-size: var(--fz-normal);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.coupon button {
    background-color: var(--cl-black);
    width: 30%;
    height: 45px;
    color: var(--cl-white);
    border: none;
    outline: none;
    font-size: var(--fz-normal);
    font-weight: 500;
    cursor: pointer;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.checkoutProductItem {
    margin-bottom: var(--gap-x);
    display: flex;
    gap: var(--gap-x);
    padding-bottom: var(--gap-x);
    border-bottom: 1px solid var(--cl-gray)
}

.checkoutProductItemImage {
    width: 90px;
    aspect-ratio: 1/1;
}

.checkoutProductItemImage img {
    width: 100%;
    height: 100%;
}

.checkoutProductItemContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm)
}

.checkoutProductItemContent h4 {
    font-size: var(--fz-normal);
    font-weight: 600;
}

.checkoutProductItemContent p {
    font-size: var(--fz-base);
    color: var(--cl-text);
    font-weight: 500;
}

.checkoutProductItemContent span {
    font-size: var(--fz-base);
    font-weight: 600;
}

/* skeleton form */
.skeletoncheckoutLeftItem div:first-child {
    width: 120px;
    height: 20px;
    border-radius: var(--br-radius-sm);
}

.skeletoncheckoutLeftItem div:last-child {
    width: 100%;
    height: 40px;
    border-radius: var(--br-radius);
}

.skeletoncheckoutLeftItemTextArea div:last-child {
    height: 120px;
    border-radius: var(--br-radius);
}

.skeletoncheckoutLeftItemButton span {
    width: 160px !important;
    height: 45px;
    display: block;
    border-radius: var(--br-radius);
}

/* skeleton checkout payment */
.skeletoncheckoutProductItemImage {
    border-radius: var(--br-radius);
}

.skeletoncheckoutProductItemContent {
    flex: 1;
}

.skeletoncheckoutProductItemContent h4 {
    width: 100% !important;
    height: 38px;
    border-radius: var(--br-radius-sm);
}

.skeletoncheckoutProductItemContent p,
.skeletoncheckoutProductItemContent span {
    width: 120px;
    height: 20px;
    border-radius: var(--br-radius-sm);
}

@media screen and (max-width: 1023px) {
    .checkoutWrapper {
        grid-template-columns: 1fr;
    }

    .checkoutLeftItem textarea {
        height: 80px;
    }
}

@media screen and (max-width: 767px) {

    .checkoutLeftItemButton span,
    .checkoutLeftItemButton span button {
        width: 100% !important;
    }

    .checkoutLeftItemButton {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
    }
}